In [1]:
from pfx_functions import *
%matplotlib inline

'''
pfxfile = open('pbp_data/2017/2017_pfx.csv', 'r')

cr = csv.DictReader(pfxfile)
data = []
for row in cr:
    data.append(row)
'''
from IPython.display import HTML
from IPython.display import display

import pandas as pd
pd.set_option('precision', 1)
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [2]:
df = pd.read_csv('pbp_data/2017/2017.csv')
pitchers = df.pitcher.drop_duplicates()
pitch_types = df.pitch_type.drop_duplicates()

In [3]:
df.loc[:, 'px'] = pd.to_numeric(df.px, errors='coerce')
df.loc[:, 'pz'] = pd.to_numeric(df.pz, errors='coerce')
df.loc[:, 'pfx_x'] = pd.to_numeric(df.pfx_x, errors='coerce')
df.loc[:, 'pfx_z'] = pd.to_numeric(df.pfx_z, errors='coerce')

In [90]:
pbp_result = pd.DataFrame({'pitcher': df.pitcher, 'pitch_type': df.pitch_type, 'pitch_result': df.pitch_result, 'swstr': 1})
pbp_result = pbp_result.loc[~pbp_result.pitch_type.isnull(), :]
pbp_result = pbp_result.loc[pbp_result.pitch_type != 'None', :]

In [91]:
pbp_result.pitch_result = pbp_result.pitch_result.replace('번트헛스윙', '헛스윙')
pbp_result.pitch_result = pbp_result.pitch_result.replace('번트파울', '파울')

In [112]:
pitches = ['직구', '슬라이더', '커브', '체인지업', '포크']

for pitch in pitches:
    pitchers = pbp_result.loc[pbp_result.pitch_type==pitch].groupby(['pitcher', 'pitch_type'])
    pitchers.filter(lambda x: x['swstr'].sum() > 250).groupby(['pitcher', 'pitch_type']).agg({'swstr': 'sum'})
    l = pitchers.filter(lambda x: x['swstr'].sum() > 250).pitcher.drop_duplicates()
    pbps = pbp_result.loc[(pbp_result.pitcher.isin(list(l))) & (pbp_result.pitch_type == pitch)].groupby(['pitcher', 'pitch_type', 'pitch_result']).agg({'swstr':'sum'})
    pbp_pcts = pbps.groupby(level=[0,1]).apply(lambda x: 100*x/x.sum())
    pbp_pcts['total'] = pbps['swstr']
    #display(pbp_pcts.iloc[pbp_pcts.index.get_level_values('pitch_result') == '헛스윙'].sort_values('swstr', ascending=False)[:10])
    display(pitchers.sum().iloc[pitchers.sum().index.get_level_values('pitcher') == '차우찬'])

                    swstr
pitcher pitch_type
차우찬     직구           1230

                    swstr
pitcher pitch_type
차우찬     슬라이더          736

                    swstr
pitcher pitch_type
차우찬     커브            395

                    swstr
pitcher pitch_type
차우찬     체인지업            6

                    swstr
pitcher pitch_type
차우찬     포크            456

In [2]:
df18 = pd.read_csv('pbp_data/2018/2018.csv')
display(df18.keys())

Index(['pitch_type', 'pitcher', 'batter', 'pitcher_ID', 'batter_ID', 'speed',
       'pitch_result', 'pa_result', 'balls', 'strikes', 'outs', 'inning',
       'inning_topbot', 'score_away', 'score_home', 'stands', 'throws',
       'on_1b', 'on_2b', 'on_3b', 'px', 'pz', 'pfx_x', 'pfx_z', 'x0', 'z0',
       'sz_top', 'sz_bot', 'pos_1', 'pos_2', 'pos_3', 'pos_4', 'pos_5',
       'pos_6', 'pos_7', 'pos_8', 'pos_9', 'game_date', 'home', 'away',
       'stadium', 'referee', 'pa_number', 'pitch_number'],
      dtype='object')

In [3]:
df18.loc[:, 'speed'] = pd.to_numeric(df18.speed, errors='corece').fillna(0).astype(np.int64)
df18.loc[:, 'pfx_x'] = pd.to_numeric(df18.pfx_x, errors='corece').fillna(0).astype(np.float64)
df18.loc[:, 'pfx_z'] = pd.to_numeric(df18.pfx_z, errors='corece').fillna(0).astype(np.float64)
df18.dtypes.speed, df18.dtypes.pfx_x, df18.dtypes.pfx_z

(dtype('int64'), dtype('float64'), dtype('float64'))

In [10]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

In [11]:
pitcher_names = df18.pitcher.drop_duplicates()
for p in pitcher_names:
    print(p)
    display(df18.loc[df18.pitcher == p].groupby('pitch_type').mean().loc[:, ('speed', 'pfx_x', 'pfx_z')])

듀브론트

            speed  pfx_x  pfx_z
pitch_type
슬라이더        136.1    5.8    5.5
직구          145.3    3.7    8.5
체인지업        136.0    3.5    4.6
커브          124.5    1.0   -1.7
투심          139.3    5.4    6.3
포크          138.0    3.7    2.7

윌슨

            speed  pfx_x  pfx_z
pitch_type
슬라이더        134.2    1.1    0.6
직구          144.7   -3.8    5.3
체인지업        131.0   -7.5    0.7
커브          124.7    5.4   -2.4
커터          141.3   -3.9    4.4
투심          142.0   -6.9    4.8

박시영

            speed  pfx_x  pfx_z
pitch_type
슬라이더        130.0   -2.5    1.4
직구          141.0   -6.2   10.7
커브          120.0    0.7   -7.6
포크          131.8   -2.5    1.3

이명우

            speed  pfx_x  pfx_z
pitch_type
슬라이더        124.5   -3.4    2.0
직구          133.7    6.2    5.2
체인지업        126.7    4.1    6.2

이우찬

            speed  pfx_x  pfx_z
pitch_type
슬라이더        124.2   -2.2   -2.4
직구          138.1    0.8    7.4
체인지업        132.0    6.7    4.9
커브          111.5   -5.1  -10.2

김대우

            speed  pfx_x  pfx_z
pitch_type
슬라이더        130.0   -1.7    0.7
직구          140.9   -7.7    7.1
커브          125.0   -5.7    0.5
포크          133.0   -3.3    0.6

신정락

            speed  pfx_x  pfx_z
pitch_type
슬라이더        126.5    0.6   -0.1
직구          139.6  -10.4    3.5
체인지업        124.2  -12.2    1.5
커브          115.0   10.4   -5.3
포크          125.5  -10.7    1.0

임정우

            speed  pfx_x  pfx_z
pitch_type
슬라이더        130.5   -0.8    0.9
직구          138.6   -4.7    6.0
커브          118.5    6.4   -9.1
포크          129.5   -2.7    3.1

장시환

            speed  pfx_x  pfx_z
pitch_type
슬라이더        134.5   -1.9    3.5
직구          144.2   -7.5   10.0
커브          122.7    3.6  -11.3
포크          135.5   -0.4    3.6

박진형

            speed  pfx_x  pfx_z
pitch_type
직구          144.2   -6.0    8.2
커브          108.7   -0.6   -1.9
포크          128.2   -4.2    4.3

김지용

            speed  pfx_x  pfx_z
pitch_type
직구          140.2   -7.3    8.5
커브          110.0    1.2   -4.6
포크          130.0    1.0    4.2

헥터

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

장원준

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

박정수

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

린드블럼

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

이민우

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김윤동

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

최금강

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

켈리

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

노성호

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

채병용

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

유원상

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

문승원

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

강윤구

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

이민호

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김태훈

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

원종현

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

임창민

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

최성영

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

박정배

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

고영표

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

양창섭

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

황수범

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

류희운

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

권오준

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

한기주

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

심재민

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

엄상백

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

최충연

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김재윤

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김민우

            speed  pfx_x  pfx_z
pitch_type
슬라이더        123.8    6.3    3.2
직구          134.7    2.0   10.0
체인지업        120.8    5.6    2.1
커브          104.1   10.1   -4.1

최원태

            speed  pfx_x  pfx_z
pitch_type
슬라이더        127.6    7.6    3.5
직구          138.0   -0.9   10.4
체인지업        124.8   -0.9    9.5
커브          116.6    7.2   -7.6
투심          138.7    0.3    9.8

김선기

            speed  pfx_x  pfx_z
pitch_type
슬라이더        126.2   10.9    0.8
직구          144.6   -0.7   10.8
체인지업        121.0    2.1    0.0
커브          115.0   14.3   -6.0

이태양

            speed  pfx_x  pfx_z
pitch_type
슬라이더        125.2    8.4    3.9
직구          138.2    0.2   11.9
포크          126.0    2.2    6.1

이보근

            speed  pfx_x  pfx_z
pitch_type
슬라이더        134.0    6.0    3.9
직구          142.9   -1.4   10.9
커브          114.0   14.9   -6.0
포크          129.0    2.4    3.9

박주홍

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0
직구          139.5   12.1   11.7

조상우

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0
슬라이더        136.0    6.8    3.2
직구          149.7   -2.8    9.8

정우람

            speed  pfx_x  pfx_z
pitch_type
직구          139.1   14.1   12.0
체인지업        120.5   13.2    9.8

윤영삼

            speed  pfx_x  pfx_z
pitch_type
슬라이더        129.0    7.4    2.0
직구          139.2    0.9   12.8
포크          135.0   -3.6    6.7

윤성빈

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0
슬라이더        134.5    0.1    0.1
직구          146.3   -7.1   11.1
포크          137.0   -2.2    1.1

임지섭

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0
슬라이더        123.3    0.4    2.2
직구          139.0    5.8   10.6
커브          121.9    1.4    1.9
포크          126.5    1.1    2.5

여건욱

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0
슬라이더        124.3   -1.2    2.4
직구          137.9   -6.6   10.3
체인지업        119.0   -9.9    2.4
커브          110.3    2.2   -6.4

노경은

            speed  pfx_x  pfx_z
pitch_type
슬라이더        139.0    1.9    2.5
직구          144.7   -6.8    9.3
커브          115.0    4.9  -10.9
투심          146.0   -9.9   10.1
포크          135.5   -6.3    6.6

진명호

            speed  pfx_x  pfx_z
pitch_type
슬라이더        133.7    1.2   -1.8
직구          146.6   -2.2    8.6
커브          119.0    0.7   -7.2
포크          131.7   -0.9    1.4

최동환

            speed  pfx_x  pfx_z
pitch_type
슬라이더        125.2    3.8    0.7
직구          141.7   -4.5    9.8

오현택

            speed  pfx_x  pfx_z
pitch_type
슬라이더        126.9    0.3    2.8
직구          136.9   -9.9    2.0

조무근

            speed  pfx_x  pfx_z
pitch_type
슬라이더        129.6   -4.1    4.3
직구          142.5  -10.1    7.7

윤지웅

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0
슬라이더        124.5   -1.1    1.8
직구          138.8    3.8    4.9

구승민

            speed  pfx_x  pfx_z
pitch_type
슬라이더        129.3   -0.1    0.8
직구          142.2   -7.0   10.1
포크          131.7   -7.2    1.4

고우석

            speed  pfx_x  pfx_z
pitch_type
슬라이더        129.5    0.1    0.2
직구          145.4   -8.2   10.5

최성훈

            speed  pfx_x  pfx_z
pitch_type
슬라이더        124.0   -7.5   -3.9
직구          137.0   -0.1    6.0
커브          116.0   -6.2   -9.5

손승락

            speed  pfx_x  pfx_z
pitch_type
슬라이더        128.0   -3.4    5.6
직구          142.0   -6.1    7.6
커터          138.2   -2.0    4.6

정찬헌

            speed  pfx_x  pfx_z
pitch_type
슬라이더        137.0   -4.5    5.1
직구          144.0  -10.9    8.1
커브          121.0    5.1  -10.7
투심          141.0   -7.0    7.5

양현종

            speed  pfx_x  pfx_z
pitch_type
슬라이더        123.6   -0.2   -0.6
직구          140.8    5.7   11.0
체인지업        123.0    6.4    6.9
커브          114.5   -0.8   -5.8

후랭코프

            speed  pfx_x  pfx_z
pitch_type
직구          146.0   -5.1    7.7
체인지업        130.3   -8.1    3.7
커브          124.5    8.6   -5.7
커터          141.1    1.0    5.9
투심          143.7   -7.1    7.4

유승철

            speed  pfx_x  pfx_z
pitch_type
슬라이더        125.2    3.5    2.9
직구          141.0   -1.6   13.1
체인지업        125.0    3.3    3.0
커브          114.5    5.3   -8.5
포크          130.0    3.3    5.7

유재유

            speed  pfx_x  pfx_z
pitch_type
직구          138.2   -5.9   10.2
체인지업        124.0   -4.9    7.1

유희관

            speed  pfx_x  pfx_z
pitch_type
슬라이더        117.7    8.8    6.7
직구          127.5    8.6   11.5
체인지업        116.2   11.8    6.2
커브          106.4    1.3   -7.2

임창용

            speed  pfx_x  pfx_z
pitch_type
슬라이더        123.0   12.7   -2.2
직구          140.6   -7.1    7.2
체인지업        126.0   -8.4    2.1
커브          115.0   10.5   -3.0

문경찬

            speed  pfx_x  pfx_z
pitch_type
직구          140.2   -1.7   12.3
포크          119.0   -4.6    6.6

정용운

            speed  pfx_x  pfx_z
pitch_type
슬라이더        118.2    6.5    5.2
직구          134.2    8.1   12.0
체인지업        113.3    9.2    5.5

이영하

            speed  pfx_x  pfx_z
pitch_type
슬라이더        126.5    3.4   -1.9
직구          145.2   -4.5   13.1
포크          130.0    0.3    0.7

김세현

            speed  pfx_x  pfx_z
pitch_type
직구          145.4   -3.8   10.0

이현승

            speed  pfx_x  pfx_z
pitch_type
슬라이더        128.3    4.5    4.6
직구          138.6    3.8    8.5
체인지업        128.2    5.2    5.0

이재학

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김광현

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

배재환

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

민태호

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

전유수

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김건태

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

문광은

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김진성

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

신재웅

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

이형범

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

박희수

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

주권

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

보니야

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

고창성

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김기태

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

홍성용

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

박근홍

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김사율

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김승현

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

이상화

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

휠러

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

브리검

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

안영명

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

하영민

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

송창식

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

김상수

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

이승호

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

권혁

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0

서균

            speed  pfx_x  pfx_z
pitch_type
None          0.0    0.0    0.0